extends ../admin_layout

block content
    .container-fluid
        .shadow-sm.p-5.mb-5.bg-white.rounded
            .form-section
                header.p-2.text-white(style="background:#092944")
                    | DONATION INFORMATION