extends ../layout

block content
    .container-fluid.p-0.bg-white
        .px-md-5.pt-4
            h2.font-weight-light(style='color:#3c88c8; width: 350px; margin:0 auto;') HOW TO GET INVOLVE
            .container.px-md-5.pb-md-5
                p Our job is to leverage on technology to protect displaced persons and promotes self-relience amongst them. You too can be join us in through the underlisted capacity
                //Volunteer section
                h2.font-weight-light.border-top.pt-2(style='color:#3c88c8;') Volunteer 
                p  The driving force of DPHUB remains our volunteers. We believe so much can be achieved within a short time with
                    |  our volunteers. They understand better the plight of their communities and are aware of what is at stake if actions
                    |  aren’t taken. Whether big or small, all contributions matter to us at DPHUB because it is the incremental eorts that
                    |  make great impact and visible difference
                p  We encourage young volunteers to use this period of volunteerism professional development, career progression
                    | and netwoking.
                p  Join us by choosing the volunteer positions that match your interests, and discover how rewarding it is to be a volunteer of the DPHUB.
                p.text-center.apply-button
                    a.btn.btn-md.px-3(href="/getinvolved/intern") Apply
                //Volunteer Intern
                h2.font-weight-light.border-top.pt-2(style='color:#3c88c8;') Intern
                p   Interns are essential to our work at DPHUB. We strive to provide interns with an environment that encourages them
                    | Consequently, we offer them the opportunity to learn under seasoned professionals and network while morphing
                    | into humanitarian experts themselves.
                p We accepts a limited number of applicants for unpaid internships throughout the year. Interns should be willing to
                    | commit a minimum of 30 hours per week for 12 weeks to the internship.
                p.text-center.apply-button
                    a.btn.btn-md.px-3(href="/getinvolved/intern") Apply
                //Promoter/Sponsor
                h2.font-weight-light.border-top.pt-2(style='color:#3c88c8;') Promoter/Sponsor
                p   The task of spotlightening displaced persons skills and talent can only be achieved through the commitment and
                    | support of talent and or skills promoters and sponsors. The tents in DP camps houses crazy creative skills and talent
                    | and now is the time to start scouting in camps. A single prmotion will transform the lives of over a dozen relatives.
                p We are open to unlimited promotional/sponsorship oer. Fill the form below to request sponsorship/promotion.
                p.text-center.apply-button.pb-5
                    a.btn.btn-md.px-3(href="/getinvolved/promoter") Apply