extends ../layout

block content
    .container-fluid.p-4
        .px-md-5.pt-4
            .container.px-md-5.pb-md-5.form-section(style='background-color:#eef2f9;')
                h4.font-weight-light.pt-3(style='color:#3c88c8; width: 350px; margin:0 auto;') VOLUNTEER/INTERNSHIP FORM
                form.px-md-4(method='post' name="internship")
                    .form-group
                        label.m-0.required(for='name') Name (surname first)
                        input.form-control.form-control-sm.required(type='text'  name="name" required)
                    .form-group
                        label.m-0.required(for='phone') Phone
                        input.form-control.form-control-sm.required(type='number' name="phone"  required)
                    .form-group
                        label.m-0(for='whatsapp') WhatsApp 
                        input.form-control.form-control-sm(type='text'  name="whatsapp")
                    .form-group
                        label.m-0.required(for='email') Email
                        input.form-control.form-control-sm.required(type='email' name="email"  required)
                    .form-group
                        label.m-0.required(for='sex') Sex
                        select.form-control.form-control-sm.required(name="sex")
                            option Male
                    .form-group
                        label.m-0.required(for='address') Contact Address
                        input.form-control.form-control-sm.required(type='text' name="address"  required)
                    .form-group
                        label.m-0.required(for='state') State
                        select.form-control.form-control-sm.required(name="state")
                            option Abia
                    .form-group
                        label.m-0.required(for='nationality') Nationality
                        select.form-control.form-control-sm.required(name="nationality")
                            option Nigeria
                    .form-group
                        label.m-0.required(for='education_level') Highest Level of Education
                        input.form-control.form-control-sm.required(type='text' name="education_level"  required)
                    .form-row
                        .form-group.col-md-6
                            label(for='specialization') Specialization
                            input.form-control.form-control-sm(type='text' name="specialization")
                        .form-group.col-md-6
                            label(for='institution') Institution
                            input.form-control.form-control-sm(type='text' name="institution")
                    .form-row
                        .form-group.col-md-6
                            label(for='duration') Duration
                            input.form-control.form-control-sm(type='number' name="duration")
                        .form-group.col-md-6
                            label(for='yog') Year of Graduation
                            input.form-control.form-control-sm(type='text' name="yog")
                    .form-group
                        label.m-0(for='how') How did you here about DPHUB's Position
                        input.form-control.form-control-sm(type='text'  name="how")
                    .row
                        .col-sm-6
                            p.d-inline-block Area of Interest
                            .form-check
                                input.form-check-input(type='checkbox' name="human_right" value='1')
                                label.form-check-label(for='human_right')
                                    | Human Right
                            .form-check
                                input.form-check-input(type='checkbox' name="skill" value='2' )
                                label.form-check-label(for='skill')
                                    | Skills/Talent Promotion
                            .form-check
                                input.form-check-input(type='checkbox' name="advocacy" value='3')
                                label.form-check-label(for='advocacy')
                                    | Advocacy
                            .form-check
                                input.form-check-input(type='checkbox' name="wash" value='4' )
                                label.form-check-label(for='wash')
                                    | WASH
                            .form-check
                                input.form-check-input(type='checkbox' name="dc" value='5')
                                label.form-check-label(for='dc')
                                    | Development and Communications
                            .form-check
                                input.form-check-input(type='checkbox' name="hr" value='6' )
                                label.form-check-label(for='hr')
                                    | Human Resource
                            .form-check
                                input.form-check-input(type='checkbox' name="policy" value='7')
                                label.form-check-label(for='policy')
                                    |  Policy
                            .form-check
                                input.form-check-input(type='checkbox' name="me" value='8' )
                                label.form-check-label(for='me')
                                    | Monitering and Evaluation
                            .form-check
                                input.form-check-input(type='checkbox' name="cr" value='9' )
                                label.form-check-label(for='cr')
                                    | Confict Resolution
                        .col-sm-6
                            .form-group
                                label.m-0(for='how') Upload CV
                                .custom-file
                                    input#customFile.custom-file-input(type='file')
                                    label.custom-file-label(for='customFile') Choose file
                            .form-check
                                input.form-check-input(type='checkbox' name="confirm" value='9' )
                                label.form-check-label(for='confirm')
                                    | I confirm that I will abide by the time
                                    | commitments as outlined in the full
                                    | 12-week program.
                    p.text-center
                        input.btn.btn-md.btn-success.my-3(type='submit' name="submit" value='submit' )
