extends ../layout

block content
    .container-fluid.p-0
        header.p-0.m-0
            #{header.photo}
            if(header)
                each head, i in header
                    if(head.name=="whyweexist")
                        .page-header(style=`background: url(${head.photo})`)
        .container
            .d-flex.flex-column.py-5.px-md-5
                .px-md-5
                    //Why we exist section
                    .displacement_statistics
                        .d-flex.justify-content-center.p-3
                            .px-4.text-white.font-weight-bold.text-center
                                h2.p-0.m-0 #{location}
                                p.p-0.m-0 LOCATIONS
                            .px-4.text-white.font-weight-bold.text-center
                                h2.p-0.m-0 100
                                p.p-0.m-0 SKILLS
                            .px-4.text-white.font-weight-bold.text-center
                                h2.p-0.m-0 500
                                p.p-0.m-0 TALENTS
                            .px-4.text-white.font-weight-bold.text-center
                                h2.p-0.m-0 #{engagement}
                                p.p-0.m-0 ENGAGEMENTS