extends ../layout

block content
    .container-fluid.p-0
        header.p-0.m-0
            #{header.photo}
            if(header)
                each head, i in header
                    if(head.name=="whyweexist")
                        .page-header(style=`background: url(${head.photo})`)
        .displacement_statistics.p-0.m-0
            .row.whyweexist
                .col-sm-6.text-right.p-3
                    h4.border-bottom.d-inline-block WHY WE EXIST
                .col-sm-6.pt-5.text-white
                    p.d-inline-block.text-center
                            | 20 %
                    span.d-inline-block(style="width: 250px; margin:10px 0 0 5px; padding-top:10px line-height:150px") of skilled and talented
                                     | displaced persons can
                                     | be self-reliance with
                                     |  digitized promotion
            .row
                