extends ../layout

block content
    .container-fluid.p-0.bg-white
        .px-md-5.pt-4
            h2.font-weight-light(style='color:#3c88c8; width: 350px; margin:0 auto;') HOW TO GET INVOLVE
            .container.px-md-5.pb-md-5
                    p hekkd